

#header{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#inputOne{
    width: 295px;
}
#inputTwo{
    width: 295px;
}
#inputThree{
    width: 295px;
}
#inputFour{
    width: 295px;
}